
<app-navbar></app-navbar>

<main>

  <section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <div class="tab-content" id="nav-tabContent">
                    <div  id="nav-oil" aria-labelledby="nav-oil">
                      <mat-toolbar color="primary">
                        <button class="menuSet" mat-icon-button [matMenuTriggerFor]="tableAction" aria-label="Action for tables">
                          <mat-icon>settings</mat-icon>
                        </button>
                        <mat-menu #tableAction="matMenu">

                          <button mat-menu-item (click)="onOpenOilModal('add')">
                            <mat-icon>add_circle</mat-icon>
                            <span>Добавить</span>
                            <span class="sr-only">(current)</span>
                          </button>

                          <button mat-menu-item (click)="exportToExcel()">
                            <mat-icon>launch</mat-icon>
                            <span>Экспорт в Excel</span>
                          </button>
                        </mat-menu>
                       <span>Масла для анализа</span>
                     </mat-toolbar>

                    <div class="mat-elevation-z8">
                      <table mat-table [dataSource]="dataSource" matSort>

                        <ng-container matColumnDef="id_oil">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                          <td mat-cell *matCellDef="let oil"> {{oil.id_oil}}
                           </td>
                        </ng-container>

                        <ng-container matColumnDef="oil_name">
                          <th class="column-width" mat-header-cell *matHeaderCellDef mat-sort-header> Название </th>
                          <td mat-cell *matCellDef="let oil"> {{oil.oil_name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="oil_country">
                          <th class="column-country" mat-header-cell *matHeaderCellDef mat-sort-header> Страна </th>
                          <td mat-cell *matCellDef="let oil"> {{oil.oil_country}} </td>
                        </ng-container>

                        <ng-container matColumnDef="oil_maker">
                          <th class="column-width" mat-header-cell *matHeaderCellDef mat-sort-header> Производитель </th>
                          <td mat-cell *matCellDef="let oil"> {{oil.oil_maker}} </td>
                        </ng-container>

                        <ng-container matColumnDef="oil_sort">
                          <th class="column-width" mat-header-cell *matHeaderCellDef mat-sort-header> Сорт </th>
                          <td mat-cell *matCellDef="let oil"> {{oil.oil_sort}} </td>
                        </ng-container>

                        <ng-container matColumnDef="oil_note">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Описание </th>
                          <td class="big-col" mat-cell *matCellDef="let oil"> {{oil.oil_note}}

                          </td>
                        </ng-container>
                        <ng-container matColumnDef="clean">
                          <th mat-header-cell *matHeaderCellDef> </th>
                          <td mat-cell *matCellDef="let oil">
                            <button class="icon-pos" mat-icon-button [matMenuTriggerFor]="menu">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                              <mat-menu  #menu="matMenu">
                              <div >
                                <button mat-menu-item (click)="onOpenOilModal('edit', oil)"  data-placement="top" data-toggle="tooltip" data-original-title="Edit"> Изменить</button>
                                <button mat-menu-item (click)="onOpenOilModal('delete', oil)" data-placement="top" data-toggle="tooltip" data-original-title="Delete">Удалить</button>
                              </div>
                            </mat-menu>
                          </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                      <mat-paginator
                      [pageSizeOptions]="[5, 10, 20, 100]"
                                     showFirstLastButtons
                                     aria-label="Select page of periodic elements">
                      </mat-paginator>
                    </div>
                    <!--
                    <table datatable class="row-border hover" id="oilAcids" [dtOptions]="dtOptions" >
                      <thead>
                          <tr>
                              <th>ID</th>
                              <th>Название</th>
                              <th>Страна</th>
                              <th>Производитель</th>
                              <th>Сорт</th>
                              <th>Описание</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr class="btnShow" *ngFor="let oil of Oils">
                              <td >{{oil.id_oil}}</td>
                              <td >{{oil.oil_name}}</td>
                              <td >{{oil.oil_country}}</td>
                              <td >{{oil.oil_maker}}</td>
                              <td >{{oil.oil_sort}}</td>
                              <td class="big-col">{{oil.oil_note}}
                                <div class="bothBtn">
                                  <button (click)="onOpenOilModal('edit', oil)" class="btn btn-primary tooltips mr-3" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </button>
                                  <button (click)="onOpenOilModal('delete', oil)" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>
                                </div>
                              </td>
                        </tr>
                      </tbody>
                      </table>
-->
                          <!-- Add Acid Modal -->
    <div class="modal fade" id="addOilModal" tabindex="-1" role="dialog" aria-labelledby="addOilModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-header">
              <h5 class="modal-title" id="addOilModalLabel">Добавить данные</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
           </div>
           <div class="modal-body">
              <form #addForm="ngForm" (ngSubmit)="onAddOil(addForm)">
              <div class="form-group">
                 <label for="oil_name">Название</label>
                 <input type="text" ngModel name="oil_name" class="form-control" id="oil_name" placeholder="Название" required>
              </div>
              <div class="form-group">
                 <label for="oil_country">Страна</label>
                 <input type="text" ngModel name="oil_country" class="form-control" id="oil_country" placeholder="Страна" required>
              </div>
              <div class="form-group">
                 <label for="oil_maker">Производитель</label>
                 <input type="text" ngModel name="oil_maker" class="form-control" id="oil_maker" placeholder="Производитель" required>
              </div>
              <div class="form-group">
                <label for="oil_sort">Сорт</label>
                <select ngModel name="oil_sort" class="form-control" id="oil_sort" placeholder="Сорт" required onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();' required>
                  <option *ngFor="let oilsName of sorts" value={{oilsName.sort_name}}>
                    {{ oilsName.sort_name}}
                  </option>
              </select>
             </div>
             <div class="form-group">
              <label for="oil_note">Описание</label>
              <input type="text" ngModel name="oil_note" class="form-control" id="oil_note" placeholder="Описание" required>
           </div>
              <div class="modal-footer">
                <!--[disabled]="addForm.invalid"--><button  type="submit" class="btn btn-primary" >Сохранить</button>
                 <button type="button"  id="add-oil-form" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              </div>
              </form>
           </div>
        </div>
      </div>
    </div>

    <!-- Edit Acid -->
    <div class="modal fade" id="editOilModal" tabindex="-1" role="dialog" aria-labelledby="oilEditModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="updateOilModalLabel">Изменить {{editOils?.oil_name}}</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <form #editForm="ngForm">
                  <div class="form-group">
                     <label for="oil_name">Название</label>
                     <input type="text" ngModel="{{editOils?.oil_name}}" name="oil_name" class="form-control" id="oil_name" aria-describedby="oilHelp" placeholder="Название">
                  </div>
                  <input type="hidden" ngModel="{{editOils?.id_oil}}" name="id_oil" class="form-control" id="id_oil" placeholder="Id">
                  <div class="form-group">
                     <label for="oil_country">Страна</label>
                     <input type="text" ngModel="{{editOils?.oil_country}}" name="oil_country" class="form-control" id="oil_country" placeholder="Страна">
                  </div>
                  <div class="form-group">
                     <label for="oil_maker">Производитель</label>
                     <input type="text" ngModel="{{editOils?.oil_maker}}" name="oil_maker" class="form-control" id="oil_maker" placeholder="Производитель">
                  </div>
                  <div class="form-group">
                    <label for="oil_sort">Сорт</label>
                    <select ngModel="{{editOils?.oil_sort}}" name="oil_sort" class="form-control" id="oil_sort" placeholder="Сорт" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();' required>
                      <option *ngFor="let oilsName of sorts" value={{oilsName.sort_name}}>
                        {{ oilsName.sort_name}}
                      </option>
                  </select>
                  </div>
                 <div class="form-group">
                  <label for="oil_note">Описание</label>
                  <input type="text" ngModel="{{editOils?.oil_note}}" name="oil_note" class="form-control" id="oil_note" placeholder="Описание">
               </div>
                  <div class="modal-footer">
                     <button (click)="onUpdateOil(editForm.value)"  data-dismiss="modal" class="btn btn-primary" >Сохранить</button>
                     <button type="button"  id="" data-dismiss="modal" class="btn btn-secondary">Закрыть</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
    </div>
                      <!--Delete Acid-->
                      <div class="modal fade" id="deleteOilModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <h5 class="modal-title" id="deleteModelLabel">Удалить</h5>
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                                 </button>
                              </div>
                              <div class="modal-body">
                                 <p>Удалить "{{deleteOils?.oil_name}}"?</p>
                                 <div class="modal-footer">
                                    <button (click)="onDeleteOil(deleteOils!.id_oil)" class="btn btn-danger" data-dismiss="modal">Да</button>
                                    <button type="button" class="btn btn-secondary"  data-dismiss="modal">Нет</button>
                                  </div>
                              </div>
                           </div>
                        </div>
                      </div>
                    </div>



                  </div>
              </div>
            </div>
        </div>

</section>

  </main>

