

<main>

  <section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <div class="tab-content" id="nav-tabContent">
                    <div  id="nav-plant-oil" aria-labelledby="nav-plant-oil-tab">
                      <mat-toolbar color="primary">
                        <button class="menuSet" mat-icon-button [matMenuTriggerFor]="tableAction" aria-label="Action for tables">
                          <mat-icon>settings</mat-icon>
                        </button>
                        <mat-menu #tableAction="matMenu">

                          <button mat-menu-item (click)="onOpenPlantOilModal('add')">
                            <mat-icon>add_circle</mat-icon>
                            <span>Добавить</span>
                            <span class="sr-only">(current)</span>
                          </button>

                          <button mat-menu-item (click)="exportToExcel()">
                            <mat-icon>launch</mat-icon>
                            <span>Экспорт в Excel</span>
                          </button>
                        </mat-menu>
                       <span>Тут будет название таблицы</span>
                     </mat-toolbar>
                    <div class="mat-elevation-z8">
                      <table mat-table [dataSource]="dataSource">

                        <ng-container matColumnDef="id_plant_oil">
                          <th class="column-width" mat-header-cell *matHeaderCellDef> ID </th>
                          <td mat-cell *matCellDef="let plantOil"> {{plantOil.id_plant_oil}}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="plant_oil_name">
                          <th class="column-width" mat-header-cell *matHeaderCellDef> Название </th>
                          <td mat-cell *matCellDef="let plantOil"> {{plantOil.plant_oil_name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="plant_oil_description">
                          <th mat-header-cell *matHeaderCellDef> Описание </th>
                          <td class="big-col" mat-cell *matCellDef="let plantOil"> {{plantOil.plant_oil_description}}

                          </td>
                        </ng-container>

                        <ng-container matColumnDef="clean">
                          <th mat-header-cell *matHeaderCellDef> </th>
                          <td mat-cell *matCellDef="let plantOil">
                            <button class="icon-pos" mat-icon-button [matMenuTriggerFor]="menu">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                              <mat-menu  #menu="matMenu">
                              <div >
                                <button mat-menu-item (click)="onOpenPlantOilModal('edit', plantOil)"  data-placement="top" data-toggle="tooltip" data-original-title="Edit"> Изменить</button>
                                <button mat-menu-item (click)="onOpenPlantOilModal('delete', plantOil)" data-placement="top" data-toggle="tooltip" data-original-title="Delete">Удалить</button>
                              </div>
                            </mat-menu>
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                      <mat-paginator
                      [pageSizeOptions]="[5, 10, 20, 100]"
                                     showFirstLastButtons
                                     aria-label="Select page of periodic elements">
                      </mat-paginator>
                    </div>
                    <!--
                    <table datatable class="row-border hover" id="oilAcids" [dtOptions]="dtOptions" >
                      <thead>
                          <tr>
                              <th>ID</th>
                              <th>Название</th>
                              <th>Описание</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr class="btnShow" *ngFor="let plantOil of PlantOils">
                              <td >{{plantOil.id_plant_oil}}</td>
                              <td >{{plantOil.plant_oil_name}}</td>
                              <td class="big-col">{{plantOil.plant_oil_description}}
                                <div class="bothBtn">
                                  <button (click)="onOpenPlantOilModal('edit', plantOil)" class="btn btn-primary tooltips mr-3" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </button>
                                  <button (click)="onOpenPlantOilModal('delete', plantOil)" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>
                                </div>
                              </td>
                        </tr>
                      </tbody>
                      </table>
-->
                          <!-- Add Acid Modal -->
    <div class="modal fade" id="addPlantOilModal" tabindex="-1" role="dialog" aria-labelledby="addPlantOilModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-header">
              <h5 class="modal-title" id="addPlantOilModalLabel">Добавить данные</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
           </div>
           <div class="modal-body">
              <form #addForm="ngForm" (ngSubmit)="onAddPlantOil(addForm)">
              <div class="form-group">
                 <label for="plant_oil_name">Название</label>
                 <input type="text" ngModel name="plant_oil_name" class="form-control" id="plant_oil_name" placeholder="Название" required>
              </div>
              <div class="form-group">
                 <label for="plant_oil_description">Описание</label>
                 <input type="text" ngModel name="plant_oil_description" class="form-control" id="plant_oil_description" placeholder="Описание" required>
              </div>
              <div class="modal-footer">
                <!--[disabled]="addForm.invalid"--><button  type="submit" class="btn btn-primary" >Сохранить</button>
                 <button type="button" id="add-plant-oil-acid-form" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              </div>
              </form>
           </div>
        </div>
      </div>
    </div>

    <!-- Edit Acid -->
    <div class="modal fade" id="editPlantOilModal" tabindex="-1" role="dialog" aria-labelledby="oilEditModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="updatePlantOilModalLabel">Изменить {{editPlantOils?.plant_oil_name}}</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <form #editForm="ngForm">
                  <div class="form-group">
                     <label for="plant_oil_name">Название</label>
                     <input type="text" ngModel="{{editPlantOils?.plant_oil_name}}" name="plant_oil_name" class="form-control" id="plant_oil_name" aria-describedby="plantOilHelp" placeholder="Название">
                  </div>
                  <input type="hidden" ngModel="{{editPlantOils?.id_plant_oil}}" name="id_plant_oil" class="form-control" id="id_plant_oil" placeholder="Id">
                  <div class="form-group">
                     <label for="plant_oil_description">Описание</label>
                     <input type="text" ngModel="{{editPlantOils?.plant_oil_description}}" name="plant_oil_description" class="form-control" id="plant_oil_description" placeholder="Описание">
                  </div>

                  <div class="modal-footer">
                     <button (click)="onUpdatePlantOil(editForm.value)"  data-dismiss="modal" class="btn btn-primary" >Сохранить</button>
                     <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Закрыть</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
    </div>
                      <!--Delete Acid-->
                      <div class="modal fade" id="deletePlantOilModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <h5 class="modal-title" id="deleteModelLabel">Удалить</h5>
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                                 </button>
                              </div>
                              <div class="modal-body">
                                 <p>Удалить "{{deletePlantOils?.plant_oil_name}}"?</p>
                                 <div class="modal-footer">
                                    <button (click)="onDeletePlantOil(deletePlantOils!.id_plant_oil)" class="btn btn-danger" data-dismiss="modal">Да</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                                  </div>
                              </div>
                           </div>
                        </div>
                      </div>
                    </div>

                  </div>
              </div>
            </div>
        </div>

</section>

  </main>

