<body>
<div class="container col-lg-6">
    <h1 class="text-center">Авторизация</h1>
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <form class="form-group">
          <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
          <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
          <div class="form-group">
            <label for="email">Логин:</label>
            <input type="text" class="form-control" id="username" [(ngModel)]="username" placeholder="Введите логин"
              name="username">
          </div>
          <div class="form-group">
            <label for="pwd">Пароль:</label>
            <input type="password" class="form-control" [(ngModel)]="password" id="password" placeholder="Введите пароль"
              name="password">
          </div>
          <button (click)=handleLogin() class="btn btn-info">Вход</button>
        </form>
      </div>
    </div>
  </div>
</body>
