
<app-navbar></app-navbar>

<main>

  <section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <div class="tab-content" id="nav-tabContent">
                    <div  id="nav-plant-oil-acid" aria-labelledby="nav-plant-oil-acid-tab">
                      <mat-toolbar color="primary">
                        <button class="menuSet" mat-icon-button [matMenuTriggerFor]="tableAction" aria-label="Action for tables">
                          <mat-icon>settings</mat-icon>
                        </button>
                        <mat-menu #tableAction="matMenu">

                          <button mat-menu-item (click)="onOpenPlantOilAcidModal('add')">
                            <mat-icon>add_circle</mat-icon>
                            <span>Добавить</span>
                            <span class="sr-only">(current)</span>
                          </button>

                          <button mat-menu-item (click)="exportToExcel()">
                            <mat-icon>launch</mat-icon>
                            <span>Экспорт в Excel</span>
                          </button>
                        </mat-menu>
                       <span>Эталонные масла - жирные кислоты</span>
                     </mat-toolbar>

                    <div class="mat-elevation-z8">
                      <table mat-table [dataSource]="dataSource" matSort>

                        <ng-container matColumnDef="id_acid_plant">
                          <th class="column-width" mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                          <td mat-cell *matCellDef="let plantOilAcid"> {{plantOilAcid.id_acid_plant}}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="name_oils">
                          <th class="column-width" mat-header-cell *matHeaderCellDef mat-sort-header> Название масла </th>
                          <td mat-cell *matCellDef="let plantOilAcid"> {{plantOilAcid.name_oils}} </td>
                        </ng-container>

                        <ng-container matColumnDef="name_acids">
                          <th class="column-width" mat-header-cell *matHeaderCellDef mat-sort-header> Название жирной кислоты</th>
                          <td mat-cell *matCellDef="let plantOilAcid"> {{plantOilAcid.name_acids}} </td>
                        </ng-container>

                        <ng-container matColumnDef="fat_acid_content_min">
                          <th class="column-width" mat-header-cell *matHeaderCellDef mat-sort-header> Минимальное содержание </th>
                          <td mat-cell *matCellDef="let plantOilAcid"> {{plantOilAcid.fat_acid_content_min}} </td>
                        </ng-container>

                        <ng-container matColumnDef="fat_acid_content_max">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Максимальное содержание </th>
                          <td class="big-col" mat-cell *matCellDef="let plantOilAcid"> {{plantOilAcid.fat_acid_content_max}}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="clean">
                          <th mat-header-cell *matHeaderCellDef> </th>
                          <td mat-cell *matCellDef="let plantOilAcid">
                            <button class="icon-pos" mat-icon-button [matMenuTriggerFor]="menu">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                              <mat-menu  #menu="matMenu">
                              <div >
                                <button mat-menu-item (click)="onOpenPlantOilAcidModal('edit', plantOilAcid)"  data-placement="top" data-toggle="tooltip" data-original-title="Edit"> Изменить</button>
                                <button mat-menu-item (click)="onOpenPlantOilAcidModal('delete', plantOilAcid)" data-placement="top" data-toggle="tooltip" data-original-title="Delete">Удалить</button>
                              </div>
                            </mat-menu>
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                      <mat-paginator
                      [pageSizeOptions]="[5, 10, 20, 100]"
                                     showFirstLastButtons
                                     aria-label="Select page of periodic elements">
                      </mat-paginator>
                    </div>

                          <!-- Add Acid Modal -->
    <div class="modal fade" id="addPlantOilAcidModal" tabindex="-1" role="dialog" aria-labelledby="addPlantOilAcidModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-header">
              <h5 class="modal-title" id="addPlantOilAcidModalLabel">Добавить данные</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
           </div>
           <div class="modal-body">
              <form #addForm="ngForm" (ngSubmit)="onAddPlantOilAcid(addForm)" >
                <div class="form-group">
                  <label for="name_oils">Название масла</label>
                  <div class="scrollSelect">
                    <select ngModel name="name_oils" class="form-control" id="name_oils" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();' required>
                      <option *ngFor="let plantOilAcid of PlantOils" value={{plantOilAcid.plant_oil_name}}>
                      {{plantOilAcid.plant_oil_name}}
                      </option>
                      </select>
                  <small id="idInfo" class="form-text text-muted" ></small>
                </div>
                </div>

              <div class="form-group">
                 <label for="name_acids">Название жирной кислоты</label>
                 <select ngModel name="name_acids" class="form-control" id="name_acids" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();' required>
                  <option *ngFor="let acidsName of Acids" value={{acidsName.acid_name}}>
                    {{acidsName.acid_name + " " + acidsName.acid_full_name}}
                  </option>
              </select>
              <small id="nameInfo" class="form-text text-muted" ></small>
                </div>
              <div class="form-group">
                 <label for="fat_acid_content_min">Минимальное содержание</label>
                 <input type="text" ngModel name="fat_acid_content_min" class="form-control" id="fat_acid_content_min" placeholder="Минимальное содержание" required>
              </div>
              <div class="form-group">
                <label for="fat_acid_content_max">Максимальное содержание</label>
                <input type="text" ngModel name="fat_acid_content_max" class="form-control" id="fat_acid_content_max" placeholder="Максимальное содержание" required>
             </div>
              <div class="modal-footer">
                <!--[disabled]="addForm.invalid"--><button  type="submit" class="btn btn-primary" >Сохранить</button>
                 <button type="button" id="add-plant-oil-acid-form" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              </div>
              </form>
           </div>
        </div>
      </div>
    </div>

    <!-- Edit Acid -->
    <div class="modal fade" id="editPlantOilAcidModal" tabindex="-1" role="dialog" aria-labelledby="plantOilAcidEditModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="updatePlantOilAcidModalLabel">Изменить {{editPlantOilAcids?.name_acids}}</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <form #editForm="ngForm">
                  <div class="form-group">
                     <label for="name_oils">Название масла</label>
                     <select ngModel="{{editPlantOilAcids?.name_oils}}" name="name_oils" class="form-control" id="name_oils" aria-describedby="plantOilAcidHelp" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();' required>
                      <option *ngFor="let plantOilAcid of PlantOils" value={{plantOilAcid.plant_oil_name}}>
                      {{plantOilAcid.plant_oil_name}}
                      </option>
                      </select>
                    </div>
                  <input type="hidden" ngModel="{{editPlantOilAcids?.id_acid_plant}}" name="id_acid_plant" class="form-control" id="id_acid_plant" placeholder="Id">
                  <div class="form-group">
                     <label for="name_acids">Название</label>
                     <select ngModel="{{editPlantOilAcids?.name_acids}}" name="name_acids" class="form-control" id="name_acids" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();' required>
                      <option *ngFor="let acidsName of Acids" value={{acidsName.acid_name}}>
                        {{acidsName.acid_name + " " + acidsName.acid_full_name}}
                      </option>
                  </select>
                    </div>
                  <div class="form-group">
                     <label for="fat_acid_content_min">Минимальное содержание</label>
                     <input type="text" ngModel="{{editPlantOilAcids?.fat_acid_content_min}}" name="fat_acid_content_min" class="form-control" id="fat_acid_content_min" placeholder="Минимальное содержание">
                  </div>
                  <div class="form-group">
                    <label for="fat_acid_content_max">Максимальное содержание</label>
                    <input type="text" ngModel="{{editPlantOilAcids?.fat_acid_content_max}}" name="fat_acid_content_max" class="form-control" id="fat_acid_content_max" placeholder="Максимальное содержание">
                 </div>

                  <div class="modal-footer">
                     <button (click)="onUpdatePlantOilAcid(editForm.value)"  data-dismiss="modal" class="btn btn-primary" >Сохранить</button>
                     <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Закрыть</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
    </div>
                      <!--Delete Acid-->
                      <div class="modal fade" id="deletePlantOilAcidModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <h5 class="modal-title" id="deleteModelLabel">Удалить</h5>
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                                 </button>
                              </div>
                              <div class="modal-body">
                                 <p>Удалить "{{deletePlantOilAcids?.name_acids}}"?</p>
                                 <div class="modal-footer">
                                    <button (click)="onDeletePlantOilAcid(deletePlantOilAcids!.id_acid_plant)" class="btn btn-danger" data-dismiss="modal">Да</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                                  </div>
                              </div>
                           </div>
                        </div>
                      </div>
                    </div>



                  </div>
              </div>
            </div>
        </div>

</section>

  </main>

