



<main >

  <section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="tab-content" id="nav-tabContent">
                    <div id="nav-acid" aria-labelledby="nav-acid-tab">

                      <mat-toolbar color="primary">
                        <button class="menuSet" mat-icon-button [matMenuTriggerFor]="tableAction" aria-label="Action for tables">
                          <mat-icon>settings</mat-icon>
                        </button>
                        <mat-menu #tableAction="matMenu">

                          <button mat-menu-item (click)="onOpenAcidModal('add')">
                            <mat-icon>add_circle</mat-icon>
                            <span>Добавить</span>
                            <span class="sr-only">(current)</span>
                          </button>

                          <button mat-menu-item (click)="exportToExcel()">
                            <mat-icon>launch</mat-icon>
                            <span>Экспорт в Excel</span>
                          </button>
                        </mat-menu>
                       <span>Тут будет название таблицы</span>
                     </mat-toolbar>



                    <div id="acids" class="mat-elevation-z8">
                      <table  mat-table [dataSource]="dataSource">

                        <ng-container matColumnDef="id_acid">
                          <th class="column-width" mat-header-cell *matHeaderCellDef> id_acid </th>
                          <td mat-cell *matCellDef="let acid"> {{acid.id_acid}}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="acid_name">
                          <th class="column-width" mat-header-cell *matHeaderCellDef> Name </th>
                          <td mat-cell *matCellDef="let acid"> {{acid.acid_name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="acid_full_name">
                          <th class="column-width" mat-header-cell *matHeaderCellDef> acid_full_name </th>
                          <td mat-cell *matCellDef="let acid"> {{acid.acid_full_name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="acid_description">
                          <th mat-header-cell *matHeaderCellDef> acid_description </th>
                          <td class="big-col" mat-cell *matCellDef="let acid"> {{acid.acid_description}}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="clean">
                          <th mat-header-cell *matHeaderCellDef> </th>
                          <td mat-cell *matCellDef="let acid">
                            <button class="iconSet" mat-icon-button [matMenuTriggerFor]="menu">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                              <mat-menu #menu="matMenu">
                              <div >
                                <button mat-menu-item (click)="onOpenAcidModal('edit', acid)"  data-placement="top" data-toggle="tooltip" data-original-title="Edit"> Изменить</button>
                                <button mat-menu-item (click)="onOpenAcidModal('delete', acid)" data-placement="top" data-toggle="tooltip" data-original-title="Delete">Удалить</button>
                              </div>
                            </mat-menu>
                          </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>

                      <mat-paginator
                      [pageSizeOptions]="[5, 10, 20, 100]"
                                     showFirstLastButtons
                                     aria-label="Select page">
                      </mat-paginator>
                    </div>


<!--
                    <table datatable class="row-border hover" id="acids" [dtOptions]="dtOptions" >
                      <thead>
                          <tr>
                              <th>ID</th>
                              <th>Номер</th>
                              <th>Название</th>
                              <th>Описание</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr class="btnShow" *ngFor="let acid of Acids">
                              <td >{{acid.id_acid}}</td>
                              <td >{{acid.acid_name}}</td>
                              <td >{{acid.acid_full_name}}</td>
                              <td >{{acid.acid_description}}
                                <div class="bothBtn" >
                                  <button (click)="onOpenAcidModal('edit', acid)" class="btn btn-primary tooltips mr-3" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </button>
                                  <button (click)="onOpenAcidModal('delete', acid)" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>
                              </div>
                              </td>

                        </tr>
                      </tbody>
                      </table>
-->
                          <!-- Add Acid Modal -->
    <div class="modal fade" id="addAcidModal" tabindex="-1" role="dialog" aria-labelledby="addAcidModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-header">
              <h5 class="modal-title" id="addAcidModalLabel">Добавить данные</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
           </div>
           <div class="modal-body">
              <form #addForm="ngForm" (ngSubmit)="onAddAcid(addForm)">
              <div class="form-group">
                 <label for="acid_name">Номер</label>
                 <input type="text" ngModel name="acid_name" class="form-control" id="acid_name" placeholder="Номер" required>
              </div>
              <div class="form-group">
                 <label for="acid_full_name">Название</label>
                 <input type="text" ngModel name="acid_full_name" class="form-control" id="acid_full_name" placeholder="Название" required>
              </div>
              <div class="form-group">
                 <label for="acid_description">Описание</label>
                 <input type="text" ngModel name="acid_description" class="form-control" id="acid_description" placeholder="Описание" required>
              </div>
              <div class="modal-footer">
                <!--[disabled]="addForm.invalid"--><button  type="submit" class="btn btn-primary" >Сохранить</button>
                 <button type="button" id="add-acid-form" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              </div>
              </form>
           </div>
        </div>
      </div>
    </div>

    <!-- Edit Acid -->
    <div class="modal fade" id="editAcidModal" tabindex="-1" role="dialog" aria-labelledby="acidEditModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="updateAcidModalLabel">Изменить {{editAcids?.acid_full_name}}</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <form #editForm="ngForm">
                  <div class="form-group">
                     <label for="acid_name">Название</label>
                     <input type="text" ngModel="{{editAcids?.acid_name}}" name="acid_name" class="form-control" id="acid_name" aria-describedby="acidFullNameHelp" placeholder="Название">
                  </div>
                  <input type="hidden" ngModel="{{editAcids?.id_acid}}" name="id_acid" class="form-control" id="id_acid" placeholder="Id">
                  <div class="form-group">
                     <label for="acid_full_name">Номер</label>
                     <input type="text" ngModel="{{editAcids?.acid_full_name}}" name="acid_full_name" class="form-control" id="acid_full_name" placeholder="Номер">
                  </div>
                  <div class="form-group">
                     <label for="acid_description">Описание</label>
                     <input type="text" ngModel="{{editAcids?.acid_description}}" name="acid_description" class="form-control" id="acid_description" placeholder="Описание">
                  </div>
                  <div class="modal-footer">
                     <button (click)="onUpdateAcid(editForm.value)"  data-dismiss="modal" class="btn btn-primary" >Сохранить</button>
                     <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Закрыть</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
    </div>
                      <!--Delete Acid-->
                      <div class="modal fade" id="deleteAcidModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <h5 class="modal-title" id="deleteModelLabel">Удалить</h5>
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                                 </button>
                              </div>
                              <div class="modal-body">
                                 <p>Удалить "{{deleteAcids?.acid_full_name}}"?</p>
                                 <div class="modal-footer">
                                    <button (click)="onDeleteAcid(deleteAcids!.id_acid)" class="btn btn-danger" data-dismiss="modal">Да</button>
                                    <button type="button"  class="btn btn-secondary" data-dismiss="modal">Нет</button>
                                  </div>
                              </div>
                           </div>
                        </div>
                      </div>
                    </div>



                  </div>
              </div>
            </div>
        </div>

</section>

  </main>

