

<main>
<div class="banner">
  <div class="container">
    <h1>Тест</h1>
    <p>Какая-то информация</p>
    <!--
      <a href="#content" class="button button-primary">Какая-то кнопка</a>
    -->
  </div>
</div>
</main>


<section id="content" class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p>текст для проверки скролла </p>
      </div>
      <div class="col-md-4">
        <p>текст для проверки скролла </p>
      </div>
      <div class="col-md-4">
        <p>текст для проверки скролла </p>
      </div>
    </div>
  </div>
</section>


