

<main>

  <section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <div class="tab-content" id="nav-tabContent">
                    <div  id="nav-oil-acid" aria-labelledby="nav-oil-acid-tab">
                      <mat-toolbar color="primary">
                        <button class="menuSet" mat-icon-button [matMenuTriggerFor]="tableAction" aria-label="Action for tables">
                          <mat-icon>settings</mat-icon>
                        </button>
                        <mat-menu #tableAction="matMenu">

                          <button mat-menu-item (click)="onOpenOilAcidModal('add')">
                            <mat-icon>add_circle</mat-icon>
                            <span>Добавить</span>
                            <span class="sr-only">(current)</span>
                          </button>

                          <button mat-menu-item (click)="exportToExcel()">
                            <mat-icon>launch</mat-icon>
                            <span>Экспорт в Excel</span>
                          </button>
                        </mat-menu>
                       <span>Тут будет название таблицы</span>
                     </mat-toolbar>
                    <div class="mat-elevation-z8">
                      <table mat-table [dataSource]="dataSource">

                        <ng-container matColumnDef="id_acid_oil">
                          <th class="column-width" mat-header-cell *matHeaderCellDef> ID </th>
                          <td mat-cell *matCellDef="let oilAcid"> {{oilAcid.id_acid_oil}}</td>
                        </ng-container>

                        <ng-container matColumnDef="id_oils">
                          <th class="column-width" mat-header-cell *matHeaderCellDef> ID масла </th>
                          <td mat-cell *matCellDef="let oilAcid"> {{oilAcid.id_oils}} </td>
                        </ng-container>

                        <ng-container matColumnDef="name_acids">
                          <th class="column-width" mat-header-cell *matHeaderCellDef> Название </th>
                          <td mat-cell *matCellDef="let oilAcid"> {{oilAcid.name_acids}} </td>
                        </ng-container>

                        <ng-container matColumnDef="acid_value">
                          <th mat-header-cell *matHeaderCellDef> Значение </th>
                          <td class="big-col" mat-cell *matCellDef="let oilAcid"> {{oilAcid.acid_value}}

                        </td>
                        </ng-container>
                        <ng-container matColumnDef="clean">
                          <th mat-header-cell *matHeaderCellDef> </th>
                          <td class="small-col"mat-cell *matCellDef="let oilAcid">
                            <button class="icon-pos" mat-icon-button [matMenuTriggerFor]="menu">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                              <mat-menu  #menu="matMenu">
                              <div >
                                <button mat-menu-item (click)="onOpenOilAcidModal('edit', oilAcid)"  data-placement="top" data-toggle="tooltip" data-original-title="Edit"> Изменить</button>
                                <button mat-menu-item (click)="onOpenOilAcidModal('delete', oilAcid)" data-placement="top" data-toggle="tooltip" data-original-title="Delete">Удалить</button>
                              </div>
                            </mat-menu>
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>

                      <mat-paginator
                      [pageSizeOptions]="[5, 10, 20, 100]"
                                     showFirstLastButtons
                                     aria-label="Select page of periodic elements">
                      </mat-paginator>
                    </div>
                    <!--
                    <table datatable class="row-border hover" id="oilAcids" [dtOptions]="dtOptions" >
                      <thead>
                          <tr>
                              <th>ID</th>
                              <th>ID масла</th>
                              <th>Название</th>
                              <th>Значение</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr class="btnShow" *ngFor="let oilAcid of OilAcids">
                              <td >{{oilAcid.id_acid_oil}}</td>
                              <td >{{oilAcid.id_oils}}</td>
                              <td >{{oilAcid.name_acids}}</td>
                              <td class="big-col">{{oilAcid.acid_value}}
                                <div class="bothBtn">
                                  <button (click)="onOpenOilAcidModal('edit', oilAcid)" class="btn btn-primary tooltips ml-3 mr-3" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </button>
                                  <button (click)="onOpenOilAcidModal('delete', oilAcid)" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>
                                </div>
                              </td>
                        </tr>
                      </tbody>
                      </table>
-->
                          <!-- Add Acid Modal -->
    <div class="modal fade" id="addOilAcidModal" tabindex="-1" role="dialog" aria-labelledby="addOilAcidModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-header">
              <h5 class="modal-title" id="addOilAcidModalLabel">Добавить данные</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
           </div>
           <div class="modal-body">
              <form #addForm="ngForm" (ngSubmit)="onAddOilAcid(addForm)">
              <div class="form-group">
                 <label for="id_oils">ID масла</label>
                 <input type="text" ngModel name="id_oils" class="form-control" id="id_oils" placeholder="Номер" required>
              </div>
              <div class="form-group">
                 <label for="name_acids">Название</label>
                 <input type="text" ngModel name="name_acids" class="form-control" id="name_acids" placeholder="Название" required>
              </div>
              <div class="form-group">
                 <label for="acid_value">Значение</label>
                 <input type="text" ngModel name="acid_value" class="form-control" id="acid_value" placeholder="Значение" required>
              </div>
              <div class="modal-footer">
                <!--[disabled]="addForm.invalid"--><button  type="submit" class="btn btn-primary" >Сохранить</button>
                 <button type="button"  id="add-oil-acid-form" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              </div>
              </form>
           </div>
        </div>
      </div>
    </div>

    <!-- Edit Acid -->
    <div class="modal fade" id="editOilAcidModal" tabindex="-1" role="dialog" aria-labelledby="oilAcidEditModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="updateOilAcidModalLabel">Изменить {{editOilAcids?.name_acids}}</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <form #editForm="ngForm">
                  <div class="form-group">
                     <label for="id_oils">ID масла</label>
                     <input type="text" ngModel="{{editOilAcids?.id_oils}}" name="id_oils" class="form-control" id="id_oils" aria-describedby="oilAcidHelp" placeholder="ID масла">
                  </div>
                  <input type="hidden" ngModel="{{editOilAcids?.id_acid_oil}}" name="id_acid" class="form-control" id="id_acid" placeholder="Id">
                  <div class="form-group">
                     <label for="name_acids">Название</label>
                     <input type="text" ngModel="{{editOilAcids?.name_acids}}" name="name_acids" class="form-control" id="name_acids" placeholder="Название">
                  </div>
                  <div class="form-group">
                     <label for="acid_value">Значение</label>
                     <input type="text" ngModel="{{editOilAcids?.acid_value}}" name="acid_value" class="form-control" id="acid_value" placeholder="Значение">
                  </div>
                  <div class="modal-footer">
                     <button (click)="onUpdateOilAcid(editForm.value)"  data-dismiss="modal" class="btn btn-primary" >Сохранить</button>
                     <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Закрыть</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
    </div>
                      <!--Delete Acid-->
                      <div class="modal fade" id="deleteOilAcidModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <h5 class="modal-title" id="deleteModelLabel">Удалить</h5>
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                                 </button>
                              </div>
                              <div class="modal-body">
                                 <p>Удалить "{{deleteOilAcids?.name_acids}}"?</p>
                                 <div class="modal-footer">
                                    <button (click)="onDeleteOilAcid(deleteOilAcids!.id_acid_oil)" class="btn btn-danger" data-dismiss="modal">Да</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                                  </div>
                              </div>
                           </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>

</section>

  </main>

